---
import {findQuoteByTid} from "../../lib/quotes";
import Layout from "../../layouts/Layout.astro";
import Quote from "../../components/Quote.astro";

const quote = await findQuoteByTid(Astro.params.tid!)
---

<Layout title="Welcome to Astro.">
    <Quote quote={quote}></Quote>
</Layout>
