---
import type {Quote} from "../../lib/quotes";
interface Props {
    quote: Quote
}

const { quote}= Astro.props
---

<tr>
    <td>{quote.tid}</td>
    <td class="text">{quote.text}</td>
    <td>{quote.person}</td>
    <td>{quote.person_job}</td>
    <td>{quote.date}</td>
    <td>{quote.status}</td>
    <td>{quote.likes} / {quote.dislikes}</td>
    <td>
        { quote.status === "submitted" &&
            (<button
                    hx-patch={`/admin/quotes/${quote.tid}`}
                    hx-vals='{ "status": "accepted" }'
                    hx-swap="outerHTML"
                    hx-select="tbody tr"
                    hx-target="closest tr"
            >Approve</button>
            <button
                    hx-patch={`/admin/quotes/${quote.tid}`}
                    hx-vals='{ "status": "rejected" }' }
                    hx-swap="outerHTML"
                    hx-select="tbody tr"
                    hx-target="closest tr"
            >Reject</button>)
        }
        <button
                hx-delete={`/admin/quotes/${quote.tid}`}
                hx-swap="delete"
                hx-target="closest tr"
        >Delete</button>
    </td>
</tr>

<style>
    tr:nth-child(even) {
        background-color: hsl(var(--muted));
    }

    tr:nth-child(odd) {
        background-color: transparent;
    }
</style>
