<table>
    <thead>
    <tr>
        <th>tid</th>
        <th>Texte</th>
        <th>Personne</th>
        <th>Job</th>
        <th>Date</th>
        <th>Status</th>
        <th>Intéractions</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <slot />
    </tbody>
</table>

<style>
    table {
        border-collapse: collapse;
    }
</style>
