---
import {getUser} from "../../../lib/auth";
import {changeStatus, deleteQuote} from "../../../lib/quotes";
import QuoteRow from "../../../components/admin/QuoteRow.astro";
import QuotesTable from "../../../components/admin/QuotesTable.astro";

export const partial = true

// Require an authed user, although it should be handled by postgres RLS
const user = await getUser(Astro)
if (!user) {
    return Astro.redirect("/admin/login")
}

const method = Astro.request.method
const quoteTid = Astro.params.tid as string;
let quote;
if (method === "DELETE") {
    await deleteQuote(quoteTid, Astro)
} else if (method === "PATCH") {
    let formData = await Astro.request.formData();

    quote = await changeStatus(quoteTid, formData.get("status") as string, Astro)
}
---
{method === "PATCH" && quote &&
<QuotesTable>
    <QuoteRow quote={quote}></QuoteRow>
</QuotesTable>}
