---
import Layout from '../layouts/Layout.astro';
import {getRandomQuote} from "../lib/quotes";
import Quote from "../components/Quote.astro";

const quote = await getRandomQuote()

const thanks = Astro.url.searchParams.get("thanks");
---

<Layout title="Famous Last Words">
    <a href="/" slot="heading">Famous Last Words <span>&#x21bb;</span></a>
    {thanks && <p class="thanks">Merci pour votre soumission. Elle va être revue avant d'être publiée pour tous les
        internautes.</p>}
    <Quote quote={quote}></Quote>
</Layout>

<style>
    .thanks {
        font-style: italic;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
</style>
