---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Submit a quote">
    <div class="fake-blockquote">

        <form id="quote" method="post" action="/quotes">
            <textarea required name="text" placeholder="Bien sur que j'ai mesuré cet élastique" autofocus></textarea>
            <div class="input-row">
                <span>— <input required type="text" name="person" placeholder="Denis" size="10">†,</span>
                <span><input type="text" name="person_job" placeholder="Moniteur de saut à l'élastique"></span>
                <span>(<input type="text" name="date" placeholder="2022" size="6">)</span>
            </div>
        </form>
    </div>

    <div class="buttons">
        <Button type="submit" form="quote">Submit</Button>
    </div>
</Layout>

<style>
    .fake-blockquote {
        position: relative;
        font-family: Georgia, 'Times New Roman', serif;
        font-size: 1.5rem; /*text-2xl*/
        font-weight: bold;
        color: hsl(var(--primary-foreground)); /*text-primary-foreground*/
        background-color: hsl(var(--muted)); /*bg-muted*/
        padding: 1rem; /*p-8*/
        border-radius: var(--radius); /*rounded-lg*/
        max-width: 28rem; /*max-w-2xl*/
        margin: 0 auto;
    }

    form {
        padding: 0;
        margin: 0;
    }

    .fake-blockquote textarea {
        margin: 2em auto;
        border: none;
        background: transparent;
        width: 100%;

        font-weight: bold;
        font-size: 24px;
        resize: none;
    }

    .fake-blockquote textarea::placeholder {
        text-align: center;
    }

    .fake-blockquote .input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .fake-blockquote .input-row span {
        flex-shrink: 1;
        white-space: nowrap;
    }

    .fake-blockquote .input-row input {
        border: none;
        background: transparent;
        border-bottom: 1px solid hsl(var(--primary-foreground));
    }

    .fake-blockquote::before {
        content: "“";
        font-size: 3rem;
        color: hsl(var(--accent));
        position: absolute;
        left: 1rem;
        top: 0;
    }

    .buttons {
        margin-top: 1.5rem; /*mt-6*/
        display: flex;
        gap: 1rem; /*gap-4*/
        justify-content: center;
    }
</style>
