<a class="button" {...Astro.props}>
    <slot></slot>
</a>

<style>
    .button {
        line-height: normal;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem; /*h-10 px-4 py-2*/
        border-radius: var(--radius); /*rounded-md*/
        font-family: Noto Sans;
        font-size: 0.875rem; /*text-sm*/
        font-weight: 600;
        border: 1px solid hsl(var(--input)); /*border-input*/
        background-color: hsl(var(--primary)); /*bg-background*/
        color: hsl(var(--primary-foreground));
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        outline: none;
    }
    .button:hover {
        background-color: hsl(var(--accent)); /*hover:bg-accent*/
        color: hsl(var(--accent-foreground)); /*hover:text-accent-foreground*/
    }
</style>
