---
import type {Quote} from "../lib/quotes";
import Button from "./Button.astro";
interface Props {
    quote: Quote
}

const { quote } = Astro.props
---

<Button
        hx-post={`/quotes/${quote.tid}/dislikes`}
        hx-swap="outerHTML"

        x-data={`{ dislikes: ${quote.dislikes} }`}
        x-on:htmx:before-request="dislikes++"
>
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17 14V2"></path>
        <path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22h0a3.13 3.13 0 0 1-3-3.88Z"></path>
    </svg>
    Dislike (<span x-text="dislikes">{quote.dislikes}</span>)
</Button>

<style>
    .svg-icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
</style>
