---
import type {Quote} from "../lib/quotes";
import Button from "./Button.astro";
interface Props {
    quote: Quote
}

const { quote } = Astro.props
---

<Button
        hx-post={`/quotes/${quote.tid}/likes`}
        hx-swap="outerHTML"

        x-data={`{ likes: ${quote.likes} }`}
        x-on:htmx:before-request="likes++"
>
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M7 10v12"></path>
        <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"></path>
    </svg>
    Like (<span x-text="likes">{quote.likes}</span>)
</Button>

<style>
    .svg-icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
</style>
