---
import QuoteFooter from "./QuoteFooter.astro";
import ButtonLink from "./ButtonLink.astro";
import DislikeButton from "./DislikeButton.astro";
import LikeButton from "./LikeButton.astro";

const {quote} = Astro.props
---
<blockquote>
    <p>{quote.text}</p>
    <QuoteFooter quote={quote}/>
</blockquote>

{ quote.status === 'submitted' && <p class="unpublished-notice">Cette citation n'a pas encore été acceptée. Elle n'est pas visible publiquement.</p>}

<div class="buttons">
    <ButtonLink href="/submit">Submit quote</ButtonLink>
    <LikeButton quote={quote} />
    <DislikeButton quote={quote} />
</div>

<style>
    blockquote {
        position: relative;
        font-family: Georgia, 'Times New Roman', serif;
        font-size: 1.5rem; /*text-2xl*/
        font-weight: bold;
        color: hsl(var(--primary-foreground)); /*text-primary-foreground*/
        background-color: hsl(var(--muted)); /*bg-muted*/
        padding: 1rem; /*p-8*/
        border-radius: var(--radius); /*rounded-lg*/
        max-width: 28rem; /*max-w-2xl*/
        margin: 0 auto;
    }

    blockquote::before {
        content: "“";
        font-size: 3rem;
        color: hsl(var(--accent));
        position: absolute;
        left: 1rem;
        top: 0;
    }

    .unpublished-notice {
        font-style: italic;
        color: hsl(var(--muted-foreground));
    }

    .buttons {
        margin-top: 1.5rem; /*mt-6*/
        display: flex;
        gap: 1rem; /*gap-4*/
        justify-content: center;
    }
</style>
