---
interface Props {
    quote: {
        person: string;
        person_job?: string | null;
        date?: string | null;
    }
}

const { quote } = Astro.props;
---

<footer>
    — {quote.person}†
    {quote.person_job && `, ${quote.person_job}`}
    {quote.date && ` (${quote.date})`}
</footer>

<style>
    footer {
        font-style: normal; /*not-italic*/
        color: hsl(var(--muted-foreground)); /*text-muted-foreground*/
        font-size: 1.125rem; /*text-lg*/
        margin-top: 1rem; /*mt-4*/
        display: block;
    }
</style>
