---
import {ViewTransitions} from "astro:transitions"
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<script src="htmx.org"></script>
<script src="alpinejs"></script>
<script>
	//@ts-ignore
	import Alpine from "alpinejs";
	//@ts-ignore
	window.Alpine = Alpine
	Alpine.start()
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--max-content-width: 1500px;
		--background: 36 39% 88%;
		--foreground: 36 45% 15%;
		--primary: 36 64% 57%;
		--primary-foreground: 36 72% 17%;
		--secondary: 40 35% 77%;
		--secondary-foreground: 36 45% 25%;
		--accent: 36 64% 57%;
		--accent-foreground: 36 72% 17%;
		--destructive: 0 84% 37%;
		--destructive-foreground: 0 0% 98%;
		--muted: 36 33% 75%;
		--muted-foreground: 36 45% 25%;
		--card: 36 46% 82%;
		--card-foreground: 36 45% 20%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--border: 36 45% 60%;
		--input: 36 45% 60%;
		--ring: 36 45% 30%;
		--radius: 0rem;
		--font-stack: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif
	}
	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: hsl(var(--background)); /*bg-background*/
		font-family: var(--font-stack);
	}
</style>
