---
import DocumentChrome from "./DocumentChrome.astro";
---
<DocumentChrome title={Astro.props.title}>
    <main class="container">
        <h1>
            <slot name="heading">
                <a href="/">Famous Last Words</a>
            </slot>
        </h1>
        <slot></slot>
        <div class="links">
            <a href="https://gitlab.com/BenoitAverty/famous-last-words#famous-last-words" class="link">About</a>
            <div class="divider"></div>
            <a href="https://benoitaverty.com" class="link">benoitaverty.com</a>
            <div class="divider"></div>
            <a href="/admin" class="link">Moderate</a>
        </div>
    </main>
</DocumentChrome>

<style>
    main {
        text-align: center;
        margin: auto;
        padding: 1rem;
        max-width: var(--max-content-width);
        width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 2.25rem; /*text-4xl*/
        font-weight: bold;
        color: hsl(var(--primary-foreground)); /*text-primary-foreground*/
        margin-bottom: 1.5rem; /*mb-6*/
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .links {
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .link {
        color: hsl(var(--muted-foreground)); /*text-muted-foreground*/
        text-decoration: none;
        transition: color 0.3s;
    }
    .link:hover {
        color: hsl(var(--primary-foreground)); /*hover:text-primary-foreground*/
    }
    .divider {
        width: 1px;
        height: 1rem;
        background-color: hsl(var(--border)); /*bg-border*/
    }
</style>
