---
import Layout from "../../layouts/Layout.astro";
import {getUser} from "../../lib/auth";
import {getAllQuotes, type Quote} from "../../lib/quotes";
import QuoteRow from "../../components/admin/QuoteRow.astro";
import QuotesTable from "../../components/admin/QuotesTable.astro";

const user = await getUser(Astro);
if (!user) {
    return Astro.redirect("/admin/login")
}

const quotes: Quote[] = await getAllQuotes(Astro)
---

<Layout title="Famous Last Words Admin">
    <QuotesTable>
        {quotes.filter(quote => quote.status === 'submitted').map(quote => (
                <QuoteRow quote={quote} />
        ))}
        {quotes.filter(quote => quote.status !== 'submitted').map(quote => (
                <QuoteRow quote={quote} />
        ))}
    </QuotesTable>
</Layout>
