---
import Layout from "../../layouts/Layout.astro";
import {getUser, sendLoginEmail} from "../../lib/auth";

let mailSent = false
if (Astro.request.method === "POST") {
    let formData = await Astro.request.formData();
    const email = formData.get("email") as string

    const success = await sendLoginEmail(email, Astro)

    if (success) {
        mailSent = true
    }
} else if (Astro.request.method === "GET") {
    const user = await getUser(Astro)
    if (user) {
        return Astro.redirect("/admin")
    }
}
---

<Layout title="Login to Famous Last Words">
    {mailSent
        ?
            <p>Un mail contenant un lien de login vous a été envoyé.</p>
        :
            <form method="POST" action="/admin/login">
                <input type="email" name="email" id="email" placeholder="Email" required/>
                <button type="submit">Login</button>
            </form>}
</Layout>
